body {
    font-family: Arial, sans-serif;
    background-color: lightslategray;
    color:white;
}

h1 {
    color: black;
    text-align: center;
    font-size: 100px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
